.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #6b002f;
  color: white;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  margin-right: 1rem;
}

.navbar-title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(251, 255, 231);
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-link {
  color: rgb(251, 255, 231);
  text-decoration: none;
  font-weight: 500;
}

.navbar-link:hover {
  text-decoration: underline;
}
